{% extends "layout.html" %}

{% block content %}
	<div class="header-title">
		<div class="page-name">Dashboard</div>
	</div>
	
	<div class="content">
		<div class="content-name">General Overview</div>
		<div class="stats">
			<div class="stats-college">
				<div class="stat">
					<div class="stat-content">
						<div class="stat-icon"></div>
						<div class="stat-name">4 Colleges</div>
						<a class="stat-button" href="#">View Colleges</a>
					</div>
				</div>
				<div class="stat">
					<div class="stat-content">
						<div class="stat-icon"></div>
						<div class="stat-name">12 Departments</div>
						<a class="stat-button" href="#">View Departments</a>
					</div>
				</div>
				<div class="stat">
					<div class="stat-content">
						<div class="stat-icon"></div>
						<div class="stat-name">84 Programmes</div>
						<a class="stat-button" href="#">View Programs</a>
					</div>
				</div>
				<div class="stat">
					<div class="stat-content">
						<div class="stat-icon"></div>
						<div class="stat-name">8500 Students</div>
						<a class="stat-button" href="#">View Students</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}